        <!-- Plan -->
        <div class="g-bg-color--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Cart</p>
                    <h1 class="g-font-size-32--xs g-font-size-36--md">Your Shopping Cart</h1>
                </div>
            </div>
        </div>
        <!-- End Plan -->



		<div class="row">

			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<br/>
				<p class=" wow fadeInUp cart_p" data-wow-duration=".3" data-wow-delay=".1s col-sm-6">
					Please use this form to update your shopping cart. You may remove items entirely. When you are ready to complete your purchase, please click Checkout to be taken to a secure page for processing.	
				</p>
			</div>
			<div class="col-sm-3"></div>
			<br/>

			<div class="container-fluid" style="padding:0px 20px;">
				<div class="row">

					<div class="col-sm-3"></div>
					<div class="col-sm-6 wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s col-sm-6">				
						<form action="./cart.php" method="post" class="cart_form">

							<table class="table table-bordered table-responsive form-group">
								<thead>
									<tr class="form-group">
										<th>Item</th>
										<th>Quantity</th>
										<th>Price</th>
										<th>Subtotal</th>
										<th>Options</th>
									</tr>
								</thead>
								<tbody class="form-group">
									<!-- CONTINUE (start while here) -->
									<?php

										$total=0;

										while ($row = mysqli_fetch_array($r, MYSQLI_ASSOC)) {
											//var_dump($row);

										$price = number_format($row['price']/100, 2);
										$subtotal = number_format($price * $row['quantity'], 2);

											echo '<tr>
													<td>
														<p>
														  <ul class="cart_price" style="list-style-type:none;padding-left:0px;">
														    <li class="cart_header">' . $row['package_type'] . '</li>
														    <li class="cart_header">' . $row['category'] . '</li>
														    <li class="cart_grey"></li>
														  </ul>
														</p>
													</td>
													<td class="cart_td">
														<input type="text" name="quantity[' . $row['sku'] . ']" value="' . $row['quantity'] . '" size="2" />
													</td>
													<td class="cart_td">
														$' . $price . '
													</td>
													<td class="cart_td">
														$' . $subtotal . '
													</td>
													<td class="cart_td">
														<a href="./cart.php?sku=' . $row['sku'] . '&action=remove">Remove</a>
													</td>
												  </tr>';

												  $total += $subtotal;

										}

										echo '<tr>
												<td align="right" colspan="3" class="cart_td">
													<p>Total</p>
												</td>
												<td class="cart_td">
													$' . number_format($total, 2) . '
												</td>
												<td>
													&nbsp;
												</td>
											  </tr>';


									?><!-- End While -->

								</tbody>
							</table>

							<p class="text-center">
								<input type="submit" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-20--xs cart_td" value="Update Quantities" />
							</p>

						</form>
					</div>
					<div class="col-sm-3"></div>


				</div>
			</div>


			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<p class="text-center">
					<a href="./services.php?type=editing" class="text-uppercase s-btn s-btn--sm s-btn--primary-bg g-radius--50 g-padding-x-20--xs cart_td">&larr; Continue Shopping</a>	
				</p>
				<p class="text-center">
					<!-- LIVE -->
					<!--<a href="https://<?php echo BASE_URL; ?>billing.php">Checkout</a>-->
					<!-- DEVELOPMENT -->
					<a href="http://<?php echo BASE_URL; ?>billing.php" class="">Checkout</a>
				</p>
			</div>
			<div class="col-sm-3"></div>
			<br/>


		</div>



