        <!-- Plan -->
        <div class="g-bg-color--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Your Order</p>
                    <h1 class="g-font-size-32--xs g-font-size-36--md">Your Order is Complete</h1>
                </div>
            </div>
        </div>
        <!-- End Plan -->



		<div class="row">


			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<br/>
				<div class=" wow fadeInUp cart_p" data-wow-duration=".3" data-wow-delay=".1s col-sm-6"><br/>

					<p>
						Thank you for your order (#<?php echo $_SESSION['order_id']; ?>). 
						Please use this order number in any correspondence with us.
					</p><br/>

					<p>
						A charge of $<?php echo number_format($_SESSION['order_total']/100,2); ?> will appear on your credit card when the service is completed and sent to you. All orders are processed on the next business day.
					</p><br/>

					<p>
						An email confirmation has been sent to your email address.
					</p>

				</div>
			</div>
			<div class="col-sm-3"></div>
			<br/>

			<div class="container-fluid" style="padding:0px 20px;">
				<div class="row">

					<div class="col-sm-3"></div>
					<div class="col-sm-6 wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s col-sm-6">



					</div>
					<div class="col-sm-3"></div>


				</div>
			</div>


		</div>



