        <!-- Plan -->
        <div class="g-bg-color--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--xsm">
                <div class="g-text-center--xs g-margin-b-80--xs">
                    <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Policy</p>
                    <h1 class="g-font-size-32--xs g-font-size-36--md">Our Privacy Policy</h1>
                </div>
            </div>
        </div>
        <!-- End Plan -->



		<div class="row">


			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<br/>
				<div class=" wow fadeInUp cart_p" data-wow-duration=".3" data-wow-delay=".1s col-sm-6"><br/>


						<p>
							Protecting your private information is our priority. This Statement of Privacy applies to www.edgtacy.com and Edgtacy and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Edgtacy include www.edgtacy.com. The Edgtacy website is an ecommerce site. By using the Edgtacy website, you consent to the data practices described in this statement.
						</p>


						<h4>Collection of your Personal Information</h4>
						<p>
							Edgtacy may collect personally identifiable information, such as your name. If you purchase Edgtacy's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction. We may gather additional personal or non-personal information in the future.
						</p>

						<p>
							Information about your computer hardware and software may be automatically collected by Edgtacy. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the Edgtacy website.
						</p>

						<p>
							Edgtacy encourages you to review the privacy statements of websites you choose to link to from Edgtacy so that you can understand how those websites collect, use and share your information. Edgtacy is not responsible for the privacy statements or other content on websites outside of the Edgtacy website.
						</p>


						<h4>Use of your Personal Information</h4>
						<p>
						Edgtacy collects and uses your personal information to operate its website(s) and deliver the services you have requested.
						</p>

						<p> 
							Edgtacy may also use your personally identifiable information to inform you of other products or services available from Edgtacy and its affiliates. Edgtacy may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.
						</p>

						<p>
							Edgtacy does not sell, rent or lease its customer lists to third parties.
						</p>

						<p>
							Edgtacy may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Edgtacy, and they are required to maintain the confidentiality of your information.
						</p>

						<p>
							Edgtacy will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Edgtacy or the site; (b) protect and defend the rights or property of Edgtacy; and, (c) act under exigent circumstances to protect the personal safety of users of Edgtacy, or the public.
						</p>


						<h4>Use of Cookies</h4>
						<p>
							The Edgtacy website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
						</p> 

						<p>
							One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Edgtacy pages, or register with Edgtacy site or services, a cookie helps Edgtacy to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Edgtacy website, the information you previously provided can be retrieved, so you can easily use the Edgtacy features that you customized.
						</p>

						<p>
							You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Edgtacy services or websites you visit.
						</p>


						<h4>Security of your Personal Information</h4>
						<p>
							Edgtacy secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
						</p>


						<h4>Children Under Thirteen</h4>
						<p>
							Edgtacy does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
						</p>


						<h4>Opt-Out & Unsubscribe</h4>
						<p>
							We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from Edgtacy by contacting us here:
							<br/>
							- Email: admin@edgtacy.com
						</p>


						<h4>Changes to this Statement</h4>
						<p>
							Edgtacy will occasionally update this Statement of Privacy to reflect company and customer feedback. Edgtacy encourages you to periodically review this Statement to be informed of how Edgtacy is protecting your information.
						</p>


						<h4>Contact Information</h4>
						<p>
							Edgtacy welcomes your questions or comments regarding this Statement of Privacy. If you believe that Edgtacy has not adhered to this Statement, please contact Edgtacy at:
						</p>
						<br/>

						<p>
							Email Address:
							info@edgtacy.com
						</p>
						<br/>

						<p>
							Effective as of August 13, 2016
						</p>


				</div>
			</div>
			<div class="col-sm-3"></div>
			<br/>

			<div class="container-fluid" style="padding:0px 20px;">
				<div class="row">

					<div class="col-sm-3"></div>
					<div class="col-sm-6 wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s col-sm-6">



					</div>
					<div class="col-sm-3"></div>


				</div>
			</div>


		</div>



